.o-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: spacing(m) * -1;
  margin-left: spacing(m) * -1;
}

.o-grid__item {
  flex-grow: 1;
  margin-top: spacing(m);
  padding-left: spacing(m);
}
